.menu-tabs{
  width: 200px;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  padding-top: 30px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 30px;
    left: 58px;
    top: 0;
    display: block;
    background: #e4e7ed;
  }
}